In [9]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

df = pd.read_csv("C:/Users/Alston/Desktop/Capstone 2/michelin_my_maps.csv")

In [10]:
star_group = df.Award
star_group.value_counts()

Bib Gourmand        3286
1 MICHELIN Star     2608
2 MICHELIN Stars     473
3 MICHELIN Stars     134
Name: Award, dtype: int64

In [11]:
percentage = star_group.value_counts(normalize=True)
percentage

Bib Gourmand        0.505461
1 MICHELIN Star     0.401169
2 MICHELIN Stars    0.072758
3 MICHELIN Stars    0.020612
Name: Award, dtype: float64

In [12]:
countries = df.Country.value_counts()
countries

 France            1118
 Japan              843
 Italy              628
 Germany            623
 United States      563
 Spain              474
 United Kingdom     279
 Belgium            266
 Switzerland        252
 Netherlands        226
China               190
 Thailand           165
 Hong Kong          135
Taiwan              124
 Singapore          118
 South Korea         91
 Portugal            69
 Brazil              53
 Denmark             42
 Ireland             37
 Sweden              31
 Austria             30
 Croatia             23
 Macau               22
 Luxembourg          20
 Slovenia            13
 Norway              13
 Finland              9
 Greece               9
 Malta                9
 Hungary              7
 Czech Republic       7
 Poland               6
 Andorra              2
 Serbia               1
 San Marino           1
 Iceland              1
France                1
Name: Country, dtype: int64

In [13]:
countries_percentage = df.Country.value_counts(normalize=True).head(17)
countries_percentage

 France            0.171974
 Japan             0.129672
 Italy             0.096601
 Germany           0.095831
 United States     0.086602
 Spain             0.072912
 United Kingdom    0.042916
 Belgium           0.040917
 Switzerland       0.038763
 Netherlands       0.034764
China              0.029226
 Thailand          0.025381
 Hong Kong         0.020766
Taiwan             0.019074
 Singapore         0.018151
 South Korea       0.013998
 Portugal          0.010614
Name: Country, dtype: float64

In [14]:
region = df.Region.value_counts()
region

Europe           4197
Asia             1688
North America     563
South America      53
Name: Region, dtype: int64

In [15]:
region_percentage = df.Region.value_counts(normalize=True)
region_percentage

Europe           0.645593
Asia             0.259652
North America    0.086602
South America    0.008153
Name: Region, dtype: float64

In [16]:
star1 = (df['Award'] == '1 MICHELIN Star')
star2 = (df['Award'] == '2 MICHELIN Star')
star3 = (df['Award'] == '3 MICHELIN Star')
bib = (df['Award'] == 'Bib Gourmand')

michelin_stars = df[star3|star2|star1]

In [24]:
star_countries = michelin_stars.groupby(['Country'])
star_countries['Award']

In [25]:
print(michelin_stars)

                      Name      City MinPrice MaxPrice Currency  \
0                    Ibaya    Soldeu      110      145      EUR
9                Esszimmer  Salzburg       45      128      EUR
10        The Glass Garden  Salzburg       63      163      EUR
11           Pfefferschiff  Salzburg       65      189      EUR
12                   APRON    Vienna       99      135      EUR
...                    ...       ...      ...      ...      ...
6406                 Mipon    Taipei    2,500    3,800      TWD
6407                Da-Wan    Taipei    5,000    5,000      TWD
6408                 Ya Ge    Taipei    1,680    8,800      TWD
6409                Kitcho    Taipei    4,500    7,000      TWD
6500  Château de la Treyne    Lacave       55      170      EUR

                         Cuisine   Longitude   Latitude   PhoneNumber  \
0       Creative, Modern Cuisine    1.670949  42.575577  3.768707e+08
9      Creative, Classic Cuisine   13.034193  47.806695  4.366287e+10
10                Modern Cuisine   13.035690  47.803957  4.370000e+11
11               Classic Cuisine   13.079065  47.837920  4.366266e+10
12    Creative, Seasonal Cuisine   16.376783  48.199514  4.319075e+09
...                          ...         ...        ...           ...
6406                   Taiwanese  121.553771  25.080093  8.860000e+11
6407                    Barbecue  121.550788  25.043045  8.860000e+11
6408                   Cantonese  121.548660  25.055005  8.860000e+11
6409                       Sushi  121.551365  25.043965  8.860000e+11
6500             Classic Cuisine    1.525388  44.849474  3.356528e+10

                                                    Url  \
0     https://guide.michelin.com/en/canillo/soldeu/r...
9     https://guide.michelin.com/en/salzburg-region/...
10    https://guide.michelin.com/en/salzburg-region/...
11    https://guide.michelin.com/en/salzburg-region/...
12    https://guide.michelin.com/en/vienna/wien/rest...
...                                                 ...
6406  https://guide.michelin.com/en/taipei-region/ta...
6407  https://guide.michelin.com/en/taipei-region/ta...
6408  https://guide.michelin.com/en/taipei-region/ta...
6409  https://guide.michelin.com/en/taipei-region/ta...
6500  https://guide.michelin.com/en/occitanie/lacave...

                                   WebsiteUrl            Award  \
0                   http://www.sporthotels.ad  1 MICHELIN Star
9                  https://www.esszimmer.com/  1 MICHELIN Star
10                 https://www.monchstein.at/  1 MICHELIN Star
11              https://www.pfefferschiff.at/  1 MICHELIN Star
12           https://www.restaurant-apron.at/  1 MICHELIN Star
...                                       ...              ...
6406            https://www.grandmayfull.com/  1 MICHELIN Star
6407                https://www.dawan.com.tw/  1 MICHELIN Star
6408  https://www.mandarinoriental.com/taipei  1 MICHELIN Star
6409                                      NaN  1 MICHELIN Star
6500       https://www.chateaudelatreyne.com/  1 MICHELIN Star

      Converted MinPrice   Converted MaxPrice              Unnamed: 14  \
0                $121.61              $160.30      Carretera General 2
9                 $49.75              $141.51   Müllner Hauptstraße 33
10                $69.65              $180.20       Mönchsberg Park 26
11                $71.86              $208.94               Söllheim 3
12               $109.45              $149.24           Am Heumarkt 35
...                   ...                  ...                     ...
6406              $87.13              $132.44        55 Lequn 2nd Road
6407             $174.26              $174.26                       22
6408              $58.55              $306.69    158 Dunhua North Road
6409             $156.83              $243.96                       48
6500              $60.80              $187.94                   Lacave

       Country  Region
0      Andorra  Europe
9      Austria  Europe
10     Austria  Europe
11     Austria  Europe
12     Austria  Europe
...        ...     ...
6406    Taiwan    Asia
6407    Taiwan    Asia
6408    Taiwan    Asia
6409    Taiwan    Asia
6500    France  Europe

[2608 rows x 17 columns]