In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

df = pd.read_csv("C:/Users/Alston/Desktop/Capstone 2/michelin_my_maps.csv")

In [9]:
df.head()

,Name,City,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,Converted MinPrice,Converted MaxPrice,Country,Region
0,Ibaya,Soldeu,110,145,EUR,"Creative, Modern Cuisine",1.670949,42.575577,3.768707e+08,https://guide.michelin.com/en/canillo/soldeu/r...,http://www.sporthotels.ad,1 MICHELIN Star,$121.61,$160.30,Andorra,Europe
1,Celler d'en Toni,Andorra la Vella,72,72,EUR,Contemporary,1.531772,42.507145,3.768628e+08,https://guide.michelin.com/en/andorra-la-vella...,http://www.cellerdentoni.com,Bib Gourmand,$79.60,$79.60,Andorra,Europe
2,Amador,Vienna,265,265,EUR,"Creative, Contemporary",16.358600,48.254011,4.370000e+11,https://guide.michelin.com/en/vienna/wien/rest...,http://www.restaurant-amador.com/,3 MICHELIN Stars,$292.96,$292.96,Austria,Europe
3,SENNS.Restaurant,Salzburg,85,205,EUR,Creative,13.063449,47.836072,4.370000e+11,https://guide.michelin.com/en/salzburg-region/...,https://www.senns.restaurant/,2 MICHELIN Stars,$93.97,$226.63,Austria,Europe
4,Ikarus,Salzburg,140,210,EUR,Creative,13.007903,47.793560,4.366222e+09,https://guide.michelin.com/en/salzburg-region/...,https://www.hangar-7.com/,2 MICHELIN Stars,$154.77,$232.16,Austria,Europe

In [10]:
star_group = df.Award
star_group.value_counts()

Bib Gourmand        3286
1 MICHELIN Star     2608
2 MICHELIN Stars     473
3 MICHELIN Stars     134
Name: Award, dtype: int64

In [11]:
percentage = star_group.value_counts(normalize=True)
percentage

Bib Gourmand        0.505461
1 MICHELIN Star     0.401169
2 MICHELIN Stars    0.072758
3 MICHELIN Stars    0.020612
Name: Award, dtype: float64

In [12]:
countries = df.Country.value_counts()
countries

 France            1118
 Japan              843
 Italy              628
 Germany            623
 United States      563
 Spain              474
 United Kingdom     279
 Belgium            266
 Switzerland        252
 Netherlands        226
China               190
 Thailand           165
 Hong Kong          135
Taiwan              124
 Singapore          118
 South Korea         91
 Portugal            69
 Brazil              53
 Denmark             42
 Ireland             37
 Sweden              31
 Austria             30
 Croatia             23
 Macau               22
 Luxembourg          20
 Slovenia            13
 Norway              13
 Finland              9
 Greece               9
 Malta                9
 Hungary              7
 Czech Republic       7
 Poland               6
 Andorra              2
 Serbia               1
 San Marino           1
 Iceland              1
France                1
Name: Country, dtype: int64

In [13]:
countries_percentage = df.Country.value_counts(normalize=True).head(17)
countries_percentage

 France            0.171974
 Japan             0.129672
 Italy             0.096601
 Germany           0.095831
 United States     0.086602
 Spain             0.072912
 United Kingdom    0.042916
 Belgium           0.040917
 Switzerland       0.038763
 Netherlands       0.034764
China              0.029226
 Thailand          0.025381
 Hong Kong         0.020766
Taiwan             0.019074
 Singapore         0.018151
 South Korea       0.013998
 Portugal          0.010614
Name: Country, dtype: float64

In [14]:
region = df.Region.value_counts()
region

Europe           4197
Asia             1688
North America     563
South America      53
Name: Region, dtype: int64

In [15]:
region_percentage = df.Region.value_counts(normalize=True)
region_percentage

Europe           0.645593
Asia             0.259652
North America    0.086602
South America    0.008153
Name: Region, dtype: float64

In [68]:
star1 = (df['Award'] == '1 MICHELIN Star')
star2 = (df['Award'] == '2 MICHELIN Star')
star3 = (df['Award'] == '3 MICHELIN Star')
bib = (df['Award'] == 'Bib Gourmand')

michelin_stars = df[star3|star2|star1]
bib = df[bib]
stars1 = df[star1]
stars2 = df[star2]
stars3 = df[star3]

### Find which country got how many michelin stars

In [41]:
michelin_stars.head()

,Name,City,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,Converted MinPrice,Converted MaxPrice,Country,Region
0,Ibaya,Soldeu,110,145,EUR,"Creative, Modern Cuisine",1.670949,42.575577,3.768707e+08,https://guide.michelin.com/en/canillo/soldeu/r...,http://www.sporthotels.ad,1 MICHELIN Star,$121.61,$160.30,Andorra,Europe
9,Esszimmer,Salzburg,45,128,EUR,"Creative, Classic Cuisine",13.034193,47.806695,4.366287e+10,https://guide.michelin.com/en/salzburg-region/...,https://www.esszimmer.com/,1 MICHELIN Star,$49.75,$141.51,Austria,Europe
10,The Glass Garden,Salzburg,63,163,EUR,Modern Cuisine,13.035690,47.803957,4.370000e+11,https://guide.michelin.com/en/salzburg-region/...,https://www.monchstein.at/,1 MICHELIN Star,$69.65,$180.20,Austria,Europe
11,Pfefferschiff,Salzburg,65,189,EUR,Classic Cuisine,13.079065,47.837920,4.366266e+10,https://guide.michelin.com/en/salzburg-region/...,https://www.pfefferschiff.at/,1 MICHELIN Star,$71.86,$208.94,Austria,Europe
12,APRON,Vienna,99,135,EUR,"Creative, Seasonal Cuisine",16.376783,48.199514,4.319075e+09,https://guide.michelin.com/en/vienna/wien/rest...,https://www.restaurant-apron.at/,1 MICHELIN Star,$109.45,$149.24,Austria,Europe

### So we can see that the award cant be summed up since it's a string. So we need to convert string to numeric and then sum up the award to know which country got how many michelin stars

In [69]:
michelin_stars=michelin_stars.replace({"1 MICHELIN Star": 1, "2 MICHELIN Star": 2, "3 MICHELIN Star": 3})
stars1=stars1.replace({"1 MICHELIN Star": 1})
stars2=stars2.replace({"2 MICHELIN Star": 1})
stars3=stars3.replace({"3 MICHELIN Star": 1})

In [59]:
michelin_stars.groupby('Country')['Award'].sum().sort_values(ascending = False)

Country
 France            515
 Italy             326
 Japan             314
 Germany           271
 Spain             184
 United Kingdom    150
 United States     149
 Belgium           100
 Netherlands        91
 Switzerland        90
China               88
 Hong Kong          52
 Singapore          41
 Thailand           26
 Portugal           26
Taiwan              25
 South Korea        23
 Denmark            18
 Ireland            14
 Sweden             14
 Austria            11
 Croatia            10
 Brazil             10
 Norway              9
 Luxembourg          8
 Macau               7
 Hungary             7
 Finland             7
 Slovenia            5
 Malta               5
 Greece              5
 Czech Republic      2
 San Marino          1
 Poland              1
 Iceland             1
France               1
 Andorra             1
Name: Award, dtype: int64

In [60]:
michelin_stars.groupby('Region')['Award'].sum().sort_values(ascending = False)

Region
Europe           1873
Asia              576
North America     149
South America      10
Name: Award, dtype: int64

In [70]:
bib_gourmand=bib.replace({"Bib Gourmand": 1})
bib_gourmand.groupby('Country')['Award'].sum().sort_values(ascending = False)

Country
 France            501
 Japan             437
 United States     365
 Germany           297
 Italy             253
 Spain             246
 Belgium           141
 Switzerland       136
 Thailand          133
 Netherlands       115
 United Kingdom    103
Taiwan              90
China               83
 Singapore          69
 Hong Kong          64
 South Korea        59
 Brazil             39
 Portugal           36
 Ireland            19
 Denmark            15
 Croatia            13
 Austria            12
 Sweden             12
 Luxembourg         11
 Macau               7
 Slovenia            7
 Czech Republic      5
 Poland              5
 Malta               4
 Greece              3
 Norway              2
 Finland             2
 Serbia              1
 Andorra             1
Name: Award, dtype: int64

In [62]:
bib_gourmand.groupby('Region')['Award'].sum().sort_values(ascending = False)

Region
Europe           1940
Asia              942
North America     365
South America      39
Name: Award, dtype: int64